@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --dcblue: #0282f9;
    --footer-gray: #303030;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    nav {

        font-size: 0.75rem;
        font-weight: bolder;

        li {
            padding: 0 0.5rem;

        }

        .current {
            color: var(--dcblue);
            border-bottom: 2px solid var(--dcblue);

        }
    }
}

main {
    color: white;
}

footer {
    color: white;

    nav {
        background-color: var(--dcblue);

    }

    #footer-body {
        background-image: url(../public/img/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2;

        #dc-background-logo {
            position: absolute;
            top: -25%;
            right: 10%;
            z-index: -1;
        }
    }

    #footer-social {
        background: var(--footer-gray);

        button {
            background: var(--footer-gray);
            color: white;
            border-color: var(--dcblue);
            padding: 1rem;
            font-weight: bolder;
        }

        a {
            color: var(--dcblue);
            font-weight: bolder;
        }
    }
}



/* Non riesco ad installare bootstrap, ho dovuto usare la CDN */
/* Non riesco nemmeno ad installare il font, anche lì ho dovuto usare CDN */